doctype
html
    head
        meta(charset='utf-8')
        title GIF CHAT
    body
        div Press F12 to check console tap and network tap
        script(src='/socket.io/socket.io.js')
        script.
            let socket = io.connect('http://localhost:8005', {
                path: '/socket.io',
                transports: ['websocket']
            })
            socket.on('news', function(data) {
                socket.emit('reply', 'Hello Node.JS')
            })