extends layout

block content
  fieldset
    legend create room
    form(action='/room' method='post')
      div: input(name='title' placeholder='Title')
      div: input(name='max' type='number' placeholder='min 2ppl' min='2' value='10')
      div: input(name='password' type='password' placeholder='password')
      div: button(type='submit') create
